@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Common Styles Started*/
/* .poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  } */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
/* Common Styles Started*/

/* Nabvar Started  */
.navbar {
  background-color: #f9f9fc;
  padding: 18px 0 !important;
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
}
.nav-item .nav-link {
  font-weight: 400;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: all linear 0.3s;
}
.nav-item .nav-link:hover {
  color: #5e3bee;
}

.navbar button {
  font-weight: 500;
  font-size: 14px;
  color: white;
  background-color: #5e3bee;
  padding: 09px 22px;
  border-radius: 50px;
  border: none;
  letter-spacing: 0.5px;
  display: flex;
  column-gap: 7px;
  align-items: center;
  transition: all linear 0.3s;
}
.navbar button:hover {
  background-color: #33199c;
}

.navbar button i {
  font-size: 16px;
}
/* Nabvar Ended  */

/* Banner Part Started  */
#banner {
  padding-top: 40px;
  padding-bottom: 45px;
  background-color: #f9f9fc;
}
.banner_text span {
  color: #5e3bee;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 32px;
  display: inline-block;
}
.banner_text h2 {
  color: #333333;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 32px;
}
.banner_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner_button {
  display: flex;
  column-gap: 23px;
  align-items: center;
}
.button_part button {
  background-color: #5e3bee;
  color: white;
  padding: 25px 40px;
  border-radius: 50px;
  outline: none;
  border: none;
  display: flex;
  column-gap: 9px;
  align-items: center;
  transition: all linear 0.3s;
}

.button_part button:hover {
  background-color: #33199c;
}

.download_cv a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #333333;
}

/* Banner Part Ended  */

/* Counter Part Started  */
#counter {
  padding-top: 90px;
}
.counter_item h3 {
  color: #000000;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 0.5px;
}
.counter_item p {
  color: #121212;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  opacity: 0.7;
}

/* Counter Part Ended  */

/* Service Started  */
#service {
  padding-top: 133px;
}
.service-header h6 {
  font-size: 16px;
  color: #5e3bee;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.service-header h6::after {
  content: url("/images/rec1.png");
  position: absolute;
  top: -36px;
  left: 52px;
  z-index: -1;
  /* height: 20px;
  background-color: green; */
}

.service-header h4 {
  font-size: 34px;
  color: #000000;
  font-weight: 600;
  letter-spacing: 0.5%;
  text-transform: uppercase;
  margin: 12px 0;
}

.service-header p {
  font-size: 16px;
  color: #121212;
  letter-spacing: 0.5%;
  opacity: 0.7;
  line-height: 32px;
}
.service_item {
  background-color: white;
  padding: 52px 34px;
  border-radius: 24px;
  margin-top: 64px;
  filter: drop-shadow(37px 37px 80px rgba(0, 0, 0, 0.3));
  transition: all linear 0.3s;
}

.service_item:hover {
  background-color: #f6f6f8;
}
.service_item h5 {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 37px;
}

.service_item p {
  color: #121212;
  font-size: 16px;
  letter-spacing: 0.5px;
  opacity: 0.7;
  line-height: 32px;
}

/* Service Ended  */

/* About part Started  */
#about {
  background: url("/images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 109px;
}
.about_left span{
    font-size: 16px;
    font-weight: 600;
    color: #5E3BEE;
    letter-spacing: 1.5px;
}

.about_left h3{
    font-size: 60px;
    font-weight: bold;
    color: #333333;
    line-height: 78px;
    padding-right: 45px;
}

.about_left p{
    font-size: 16px;
    color: #333333;
    line-height: 32px;
    letter-spacing: 0.5px;
}

.about_left button{
    background-color: #5e3bee;
    color: white;
    padding: 25px 40px;
    border-radius: 50px;
    outline: none;
    border: none;
    display: flex;
    column-gap: 9px;
    align-items: center;
    transition: all linear 0.3s;
  }
  about_right img{
width: 100%;
height: 100%;
  }

/* About part Ended  */
.
/* Nabvar Started  */
/* Nabvar Ended  */

/* Nabvar Started  */
/* Nabvar Ended  */

/* Nabvar Started  */
/* Nabvar Ended  */
